---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const postsToShow = 10;
---

<h1>Blog</h1>

{% set postslist = collections.posts | head(-1 * postsToShow) %}
{% include "postslist.njk" %}


<p>More article can be found in <a href="blog.njk">the archive</a>.</p>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
